## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Vim swap and session files
*.sw[po]
*.vimsession

# Swift Package Manager
.DS_Store
/.build
/Packages
/*.xcodeproj
.AppleDouble

# Seems like these are really important to the SPM architecture???
# Package.pins
# Package.resolved

# CocoaPods
# Pods/

# Carthage
Carthage/Build

# fastlane
fastlane/report.xml
fastlane/screenshots
